@media screen and (min-width: 992px) {
    .card{
        height: 38rem;
        padding: 1.2rem;
        width: 24rem;
    }
    
    .card__image{
        margin-bottom: 1rem;
        width: 22rem;
    }
    
    .card__text__title{
        font-size: 1.8rem;
    }
    
    .card__text__paragraph{
        font-size: 1.4rem;
    }
}