@media screen and (min-width: 0) {
    .card{
        height: 32rem;
        padding: 1rem;
        width: 21rem;
    }
    
    .card__image{
        margin-bottom: 2rem;
        width: 18rem;
    }
    
    .card__text__title{
        font-size: 1.6rem;
    }
    
    .card__text__paragraph{
        font-size: 1.2rem;
    }
}