.card{
    align-items: center;
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__image{
    border-radius: 15px;
    width: 100rem;
}

.card__text{
    height: 50vh;
    text-align: center;
}

.card__text__title{

}

.card__text__paragraph{

}